<nav class="navbar navbar-expand-xxl navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SYMo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex flex-column align-items-center " style="height: 16rem;">
          <div class='user-thumb d-flex justify-content-center'>
            <%=image_tag(current_user.avatar, style:"width:180px; height:180px; border-radius:50%") %>
          </div>
          <div class="username text-white d-flex justify-content-center nav-link p-2 mt-3"> <%="Hello #{current_user.name.titlecase} ready to start saving money?"%></div>
        </li>
        <li class="nav-item">
          <%=link_to 'All my Expenses', expenses_path, class: 'nav-link d-flex justify-content-center'%>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex justify-content-center" href="#">All my external transactions</a>
        </li>
        <li class="nav-item">
          <%=link_to 'All groups', groups_path, class: 'nav-link d-flex justify-content-center'%>
        </li>
        <li class="nav-item">
          <%=link_to 'Edit your profile', edit_user_path(current_user), class:'d-flex justify-content-center nav-link'%>
        </li>
        <li class="nav-item ">
          <%=link_to 'Log out', logout_path, class: 'nav-link d-flex justify-content-center'%>
        </li>
      </ul>
    </div>
  </div>
</nav>
