<% @expenses.each do |expense| %>
  <tr>
    <%=display_icon(expense.groups.take) %>
    <td><%= expense.name %></td>
    <td><%= expense.amount %></td>
    <td><%= expense.user.name %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure you wnat to remove this expense?' } %></td>
  </tr>
<% end %>
